# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist

# MonadGuard Agent / C++ / Python Specifics
# ----------------------------------------
agent/monadguard
agent/simulator.exe
agent/build/
agent/venv/
*.exe
*.o
*.out
*.dll
*.so
*.dylib

# Environment Variables
.env
.env.*
!.env.example
__pycache__/
